2026/03/QHAvctKjOUWv9o0N.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-16T19:55:58.000Z",
    "createdAt": "2026-03-16T19:54:21.697Z",
    "versionId": "522f3771-cbf1-47b8-97a2-2da86688cbd6",
    "workflowId": "QHAvctKjOUWv9o0N",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "5849c922-eba2-42fa-aa0d-4e3abb78cfc1",
          "responseMode": "responseNode",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -16,
          -320
        ],
        "id": "4b8002b8-1537-4d99-8684-7200fcb689cc",
        "name": "Webhook",
        "webhookId": "5849c922-eba2-42fa-aa0d-4e3abb78cfc1"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"cita_cancelada\": true\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          880,
          -224
        ],
        "id": "3ff581dd-4433-4c1c-a0cb-0077d1b033ba",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "operation": "update",
          "table": {
            "__rl": true,
            "value": "Agenda",
            "mode": "list",
            "cachedResultName": "Agenda"
          },
          "dataMode": "defineBelow",
          "columnToMatchOn": "id",
          "valueToMatchOn": "={{ $json.code }}",
          "valuesToSend": {
            "values": [
              {
                "column": "fecha_cancelada",
                "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
              },
              {
                "column": "estado",
                "value": "={{ $json.estado }}"
              }
            ]
          },
          "options": {
            "replaceEmptyStrings": true
          }
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          656,
          -224
        ],
        "id": "1796b3e2-9fdf-4d0b-82dd-462682ce7e2e",
        "name": "Cancelar Cita",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "AhIhzsui7WGvqzct",
            "name": "MySQL Hostinger"
          }
        }
      },
      {
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "{\n  \"code\": \"\"\n}"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -16,
          -128
        ],
        "id": "46f5661a-6ca8-4e84-9686-e1a3eb25d033",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "347e35aa-6704-4f20-931b-f9e16833f144",
                "name": "code",
                "value": "={{ $json.body.code }}",
                "type": "string"
              },
              {
                "id": "6cb8ed21-5e99-43f6-8d72-47af18ef2713",
                "name": "estado",
                "value": "4",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          -320
        ],
        "id": "2606b91e-bc7d-46d9-a9d2-112489bedf22",
        "name": "Data Trigger 1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          432,
          -224
        ],
        "id": "bebc5eb4-0e76-4a54-998a-5d3ab718ab45",
        "name": "No operation"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "dcc65ed5-edea-4f63-bfea-3c1e99f3bbfc",
                "name": "code",
                "value": "={{ $json.code }}",
                "type": "string"
              },
              {
                "id": "b7564f07-59d4-44f7-9841-8711b8056e2d",
                "name": "estado",
                "value": "5",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          -128
        ],
        "id": "d26b2b4f-7ecb-4acb-b27d-89bdca22fa85",
        "name": "Data Trigger 2"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "jDbKg6dILXbXH9uX",
            "mode": "list",
            "cachedResultUrl": "/workflow/jDbKg6dILXbXH9uX",
            "cachedResultName": "Generar Reporte"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "code": "={{ $('No operation').item.json.code }}",
              "doc": "="
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "code",
                "displayName": "code",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "doc",
                "displayName": "doc",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1104,
          -224
        ],
        "id": "8ce44bba-45c4-4e70-9a5c-5871f60769ae",
        "name": "Call 'Generar Reporte'"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Data Trigger 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cancelar Cita": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Data Trigger 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Data Trigger 1": {
        "main": [
          [
            {
              "node": "No operation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No operation": {
        "main": [
          [
            {
              "node": "Cancelar Cita",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Data Trigger 2": {
        "main": [
          [
            {
              "node": "No operation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Generar Reporte'": {
        "main": [
          []
        ]
      },
      "Respond to Webhook": {
        "main": [
          [
            {
              "node": "Call 'Generar Reporte'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Innovasoft SAS",
    "name": "Version 522f3771",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "522f3771-cbf1-47b8-97a2-2da86688cbd6",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Data Trigger 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar Cita": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Data Trigger 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Trigger 1": {
      "main": [
        [
          {
            "node": "No operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No operation": {
      "main": [
        [
          {
            "node": "Cancelar Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Trigger 2": {
      "main": [
        [
          {
            "node": "No operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Generar Reporte'": {
      "main": [
        []
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Call 'Generar Reporte'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-15T09:53:15.036Z",
  "id": "QHAvctKjOUWv9o0N",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Cancelar Cita",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5849c922-eba2-42fa-aa0d-4e3abb78cfc1",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        -320
      ],
      "id": "4b8002b8-1537-4d99-8684-7200fcb689cc",
      "name": "Webhook",
      "webhookId": "5849c922-eba2-42fa-aa0d-4e3abb78cfc1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"cita_cancelada\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        -224
      ],
      "id": "3ff581dd-4433-4c1c-a0cb-0077d1b033ba",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Agenda",
          "mode": "list",
          "cachedResultName": "Agenda"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $json.code }}",
        "valuesToSend": {
          "values": [
            {
              "column": "fecha_cancelada",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "estado",
              "value": "={{ $json.estado }}"
            }
          ]
        },
        "options": {
          "replaceEmptyStrings": true
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        656,
        -224
      ],
      "id": "1796b3e2-9fdf-4d0b-82dd-462682ce7e2e",
      "name": "Cancelar Cita",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "AhIhzsui7WGvqzct",
          "name": "MySQL Hostinger"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"code\": \"\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -16,
        -128
      ],
      "id": "46f5661a-6ca8-4e84-9686-e1a3eb25d033",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "347e35aa-6704-4f20-931b-f9e16833f144",
              "name": "code",
              "value": "={{ $json.body.code }}",
              "type": "string"
            },
            {
              "id": "6cb8ed21-5e99-43f6-8d72-47af18ef2713",
              "name": "estado",
              "value": "4",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -320
      ],
      "id": "2606b91e-bc7d-46d9-a9d2-112489bedf22",
      "name": "Data Trigger 1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        432,
        -224
      ],
      "id": "bebc5eb4-0e76-4a54-998a-5d3ab718ab45",
      "name": "No operation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dcc65ed5-edea-4f63-bfea-3c1e99f3bbfc",
              "name": "code",
              "value": "={{ $json.code }}",
              "type": "string"
            },
            {
              "id": "b7564f07-59d4-44f7-9841-8711b8056e2d",
              "name": "estado",
              "value": "5",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -128
      ],
      "id": "d26b2b4f-7ecb-4acb-b27d-89bdca22fa85",
      "name": "Data Trigger 2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jDbKg6dILXbXH9uX",
          "mode": "list",
          "cachedResultUrl": "/workflow/jDbKg6dILXbXH9uX",
          "cachedResultName": "Generar Reporte"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "code": "={{ $('No operation').item.json.code }}",
            "doc": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "code",
              "displayName": "code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "doc",
              "displayName": "doc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1104,
        -224
      ],
      "id": "8ce44bba-45c4-4e70-9a5c-5871f60769ae",
      "name": "Call 'Generar Reporte'"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "code": "1"
        }
      }
    ]
  },
  "repo_name": "agendamiento_chatbot",
  "repo_owner": "GiovannyLG21",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-03-15T09:53:15.039Z",
      "createdAt": "2026-03-15T09:53:15.039Z",
      "role": "workflow:owner",
      "workflowId": "QHAvctKjOUWv9o0N",
      "projectId": "fstfsfHEv7pfFW6o"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-16T19:54:21.697Z",
  "versionId": "522f3771-cbf1-47b8-97a2-2da86688cbd6"
}